
/* Grid layout for Pokémon cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Styles for individual Pokémon cards (boxes) */
.pokemon-card {
    background-color: #1d1c22;
    border: 2px solid #24222a; /* Default border color */
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease; /* Transition only for border-color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
}

.pokemon-card:hover {
    border-color: #3a3843; /* Accent color for the hover border */
    /* No box-shadow for a simple contour effect */
}

.pokemon-sprite {
    width: 96px;
    height: 96px;
    image-rendering: pixelated;
    margin-bottom: 10px;
}

.normal {
    border-color: #4b4743;
}
.normal:hover {
    border-color: #9c958b;
}
.feu {
    border-color: #4d0f00;
}
.feu:hover {
    border-color: #8a1b00;
}
.eau {
    border-color: #01354f;
}
.eau:hover {
    border-color: #006191;
}
.electrique {
    border-color: #6b5818;
}
.electrique:hover {
    border-color: #ccab3f;
}
.plante {
    border-color: #023b11;
}
.plante:hover {
    border-color: #026e1e;
}
.glace {
    border-color: #004a4f;
}
.glace:hover {
    border-color: #008c96;
}
.combat {
    border-color: #520f2c;
}
.combat:hover {
    border-color: #9c1a52;
}
.poison {
    border-color: #4e125c;
}
.poison:hover {
    border-color: #8a18a3;
}
.sol {
    border-color: #402815;
}
.sol:hover {
    border-color: #7a4a23;
}
.vol {
    border-color: #445463;
}
.vol:hover {
    border-color: #7797b5;
}
.psy {
    border-color: #5e3340;
}
.psy:hover {
    border-color: #ad5771;
}
.insecte {
    border-color: #314022;
}
.insecte:hover {
    border-color: #638542;
}
.roche {
    border-color: #423e36;
}
.roche:hover {
    border-color: #786950;
}
.spectre {
    border-color: #2d2747;
}
.spectre:hover {
    border-color: #53488a;
}
.dragon {
    border-color: #28295c;
}
.dragon:hover {
    border-color: #4345a3;
}
.tenebres {
    border-color: #3a3843;
}
.tenebres:hover {
    border-color: #534f61;
}
.acier {
    border-color: #405155;
}
.acier:hover {
    border-color: #73959e;
}
.fee {
    border-color: #5a2657;
}
.fee:hover {
    border-color: #b045a9;
}
.undead {
    border-color: #3a402e;
}
.undead:hover {
    border-color: #728059;
}

.pokemon-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #e0e0e0;
    margin: 0;
    text-transform: capitalize;
}